extends layout

block body
  div
    h2 SQL + Express + Angular Blog Example
    ul
      li
        a(href='/') Home
      li
        a(href='/addPost') Add a new post

    div(ng-view)

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
