language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"

matrix:
  allow_failures:
    - node_js: "0.11"

install:
  - npm install
  - ./node_modules/.bin/bower install

before_script:
  - "npm start &" # start a Web server
