exports.DBConfig =

  development:
    dbName:   "sea_blog_development"
    user:     "postgres"
    password: "password"
    options:
      dialect: "postgres"
      port:    5432

  test:
    dbName:   "sea_blog_test"
    user:     "postgres"
    password: null
    options:
      dialect: "postgres"
      port:    5432
